@charset "utf-8";

.board_search .search_form .search_input_wrap, .board_search .search_form {display: inline-block; position: relative;}

/* pagination */
.pagination {text-align: center;margin: 50px 0 25px;}
.pagination ul li {display: inline-block;vertical-align: middle;text-align: center;line-height: 40px;}
.pagination ul li a {display: block;width: 40px;height: 40px;margin: 4px;border-radius: 50%;font-size: 0.875rem;}
.pagination ul li a.pg_ico {background: url(../images/pg_first.png) no-repeat center;border: 1px solid #ddd;}
.pagination ul li a.prev {background-image: url(../images/pg_prev.png);margin-right: 15px;margin-left: -2px;}
.pagination ul li a.next {background-image: url(../images/pg_next.png);margin-left: 15px;margin-right: -2px;}
.pagination ul li a.last {background-image: url(../images/pg_last.png);}
.pagination ul li a:not(.active):hover {background-color: #f0f0f0;}
.pagination ul li a.active {background-color: #acacac;color: #fff;}

/* 리스트 */
.bo_list_wrap{padding: 50px 0 25px;}

.search_wrap .notice {display: inline-block;height: 45px;line-height: 45px;font-size: 1.125rem;}
.search_form.dp_flex {background: #F6F6F6;padding: 0 10px;border-radius: 30px;overflow: hidden;}
.search_form .empty_bak {background-color: transparent;border: none;}
.search_form input:focus, .search_form select:focus {outline: none;}

.bo_list {padding: 25px 0 15px;}
.bo_list .box_type > li {width: 100%;border: 1px solid #ddd;margin-bottom: 15px;position: relative;padding: 30px 95px;transition: all .3s;}
.bo_list .box_type > li:hover {border-color: #000;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);}
.bo_list .box_type > li:hover .tit {color: #0b3c7e;}
.bo_list .box_type > li .list_num {position: absolute;top: 32px;left: 35px;}
.bo_list .box_type .tit_box {padding-bottom: 15px;border-bottom: 1px solid #ddd;}
.bo_list .box_type .tit {font-size: 1.438rem;font-weight: 400;}
.bo_list .box_type .process span {padding: 5px 10px;background: #ff560f;color: #fff;font-size: 0.875rem;border-radius: 5px;}
.bo_list .box_type .process span.step_2 {background: #009013;}
.bo_list .box_type .process span.step_3 {background: #003875;}
.bo_list .box_type .process span.step_4 {background: #FF0300;}
.bo_list .box_type .info_box {padding-top: 15px;}
.bo_list .box_type .info_box li {margin-right: 35px;}
.bo_list .box_type .info_box li span {margin-left: 10px;}

.bo_list .table_type {border-collapse: separate;border-spacing: 0;text-align: center;}
.bo_list .table_type thead tr {box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);border-radius: 30px;}
.bo_list .table_type thead th {border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 15px;}
.bo_list .table_type thead th:first-child {border-left: 1px solid #ccc;border-radius: 30px 0 0 30px;}
.bo_list .table_type thead th:last-child {border-right: 1px solid #ccc;border-radius: 0 30px 30px 0;}
.bo_list .table_type tbody:before {content: "-";display: block;line-height: 1.7em;color: transparent;}

.bo_list .table_type tbody tr {border-radius: 30px;transition:  all .3s;}
.bo_list .table_type tbody tr td {padding: 15px 10px;border-top: 1px solid transparent;border-bottom: 1px solid transparent;transition:  all .3s;position: relative;}
.bo_list .table_type tbody tr td:first-child {border-left: 1px solid transparent;border-radius: 50px 0 0 50px;}
.bo_list .table_type tbody tr td:last-child {border-right: 1px solid transparent;border-radius: 0 50px 50px 0;}
.bo_list .table_type tbody tr td::after {content: '';display: block;width: 2px;height: 10px;background-color: #ccc;position: absolute;top: 50%;transform: translateY(-50%);right: -1px;}
.bo_list .table_type tbody tr td:last-child::after {display: none;}
.bo_list .table_type tbody tr:hover {box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);}
.bo_list .table_type tbody tr:hover td {border-color: #ccc;}

.bo_list .table_type tbody tr:hover td span[class*="step_"] {position: relative;}
.bo_list .table_type tbody tr:hover td span[class*="step_"]::after {content: '';display: block;width: 200%;height: 5px;position: absolute;left: 50%;transform: translateX(-50%);bottom: 2px;z-index: -1;}
.bo_list .table_type tbody tr:hover td span.step_1::after {background: rgba(255, 86, 15, .3);}
.bo_list .table_type tbody tr:hover td span.step_2::after {background: rgba(0, 114, 19, .3);}
.bo_list .table_type tbody tr:hover td span.step_3::after {background: rgba(0, 56, 117, .3);}
.bo_list .table_type tbody tr:hover td span.step_4::after {background: rgba(255, 3, 0, .3);}
.bo_list .table_type tbody tr:hover td span.total_num {font-weight: 400;}

/* 버튼 */
.btn_box a {padding: 10px 20px;border-radius: 7px;transition: all .3s;}
.btn_box a:hover {box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.07);}
.btn_box .write {background-color: #0073EA;color: #fff;}
.btn_box .modify {background-color: #149c26;color: #fff;}
.btn_box .del {background-color: #FF0300;color: #fff;}
.btn_box .progress {background-color: #003875;color: #fff;}
.btn_box .back {border: 1px solid #121212;}
.btn_box .save {background-color: #0073EA;color: #fff;}

.btn_box.mem_account a {background: #fff;color: #000;border: 1px solid #121212;padding:7px 13px}


/* 뷰 */
.bo_view_wrap {padding: 50px 0;}
.bo_view_wrap .content_notice {font-size: 1.125rem;}
.bo_view_wrap .bo_view_box {margin-top: 25px;width: 100%;padding: 40px;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);}
.bo_view {padding-bottom: 30px;}
.bo_view .bo_view_head {text-align: center;}
.bo_view .request .bo_view_head .process span {padding: 5px 10px;color: #fff;font-size: 0.875rem;border-radius: 20px;}
.bo_view .request .bo_view_head .process span.step_1 {background: #ff560f;}
.bo_view .request .bo_view_head .process span.step_2 {background: #009013;}
.bo_view .request .bo_view_head .process span.step_3 {background: #003875;}
.bo_view .request .bo_view_head .process span.step_4 {background: #FF0300;}
.bo_view .request .bo_view_head .tit {font-size: 1.875rem;font-weight: 400;margin: 10px 0 20px;}
.bo_view .request .bo_view_head .writer ul {justify-content: center;}
.bo_view .request .bo_view_head .writer li {font-size: 0.938rem;margin-right: 15px;}
.bo_view .request .bo_view_head .writer li:not(span) {font-weight: 400;}
.bo_view .company_info {width: 100%;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin: 30px 0 0;padding: 10px 0;}
.bo_view .company_info ul li {width: 25%;text-align: left;font-size: 0.875rem;}
.bo_view .company_info ul li span:first-child {padding: 5px 15px;background: #ededed;border-radius: 15px;margin-right: 10px;}
.bo_view .company_info ul li img {margin-left: 5px;}
.bo_view .request .bo_view_body {min-height: 250px;padding: 40px 0;}
.process_notice {display: flex;align-items: center;justify-content: center;margin: 20px 0;}
.bo_view .result {margin-top: 40px;border-top: 2px solid #000;}
.bo_view .result .res_head {text-align: center;}
.bo_view .result .res_head .tit {font-size: 1.25rem;font-weight: 400;padding-top: 30px;}
.bo_view .result .res_head .company_info span[class*="step_"] {font-weight: 400;}
.bo_view .result .res_head .company_info span.step_1 {color: #ff560f;}
.bo_view .result .res_head .company_info span.step_2 {color: #009013;}
.bo_view .result .res_head .company_info span.step_3 {color: #003875;}
.bo_view .result .res_head .company_info span.step_4 {color: #FF0300;}
.bo_view .result .res_body {min-height: 50px;padding: 40px 0;}

.bo_view .add_file a {width: 100%;padding: 15px;background: #f4f4f4;margin-bottom: 5px;font-size: 0.938rem;padding-left: 35px;position: relative;}
.bo_view .add_file a::after {content: '';display: block;width: 18px;height: 18px;background: url(../images/add_file.png) no-repeat center;position: absolute;top: 15px;left: 10px;}

/* 폼 */
.bo_form_wrap {padding:50px 0;}
.bo_form_wrap .content_notice {font-size: 1.125rem;}
.bo_form_wrap .bo_form_box {margin-top: 25px;width: 100%;padding: 40px;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);}
.bo_form_wrap .bo_form_box .sub_tit {padding-bottom: 10px;border-bottom: 1px solid #ddd;display: flex;align-items: center;}
.bo_form_wrap .bo_form_box .sub_tit p {font-size: 1.25rem;font-weight: 400;}
.bo_form_wrap .bo_form_box .sub_tit .ad_t {margin-left: 5px;font-size: 0.875rem;padding-top: 5px;font-weight: 300;display: flex;}
.bo_form {padding:20px;}
.bo_form_box th {width: 10%;text-align: left;padding: 5px 0;}
.bo_form_box th .tit {line-height: 45px;}
.bo_form_box td {padding: 5px 0;}
.bo_form_box td textarea {height: 200px;}

.bo_form select {width: 18.5%;}

.add_list li {margin-bottom: 5px;}
.add_list li input {width: 50%;}
.add_list li button {width: 45px;background: #434e5d;border-radius: 4px;display: block;margin-left: 5px;position: relative;color: #fff;font-weight: 400;font-size: 1.25rem;border: 1px solid #434e5d;}

.addFile_notice {padding: 20px 20px 20px 80px;background-color: #fafafa;margin: 10px 0 0;position: relative;}
.addFile_notice::after {content: '';display: block;width: 50px;height: 50px;background: url(../images/addFile_notice.png) no-repeat center;position: absolute;top: 23px;left: 20px;}
.addFile_notice ul li {font-size: 0.875rem;margin-bottom: 2px;}
.addFile_notice ul li:last-child {margin-bottom: 0;}
.addFile_notice ul li span {color: red;}
.addFile_notice.short_list {padding: 20px 20px 20px 40px;}
.addFile_notice.short_list::after {content: '!';width: 20px;height: 20px;background-image: none;background-color: red;border-radius: 50%;text-align: center;line-height: 20px;top: 19px;left:15px; font-size: 0.635rem;color: #fff;}