@charset "utf-8";

#skip_navi {display: none;}

/* 로그인 */
.main_wrap {width: 100%;height: 100vh;display: flex;}
.main_wrap > div {width: 50%;}
.main_wrap .left_box {padding: 100px;background: url(../images/main_B_bg.png) no-repeat right 74%;}
.main_wrap .left_box .logo_area {width: 236px;height: 38px;margin-bottom: 150px;}
.main_wrap .left_box .logo_area img {animation: fadein 1s;}
.main_wrap .left_box .work_time {animation: fadein 1s;}
.main_wrap .left_box .work_time ul li {position: relative;padding-left: 35px; margin-bottom: 15px;font-size: 1.25rem;}
.main_wrap .left_box .work_time ul li:last-child {margin-bottom: 0;}
.main_wrap .left_box .work_time ul li::after {content: '';display: block;width: 25px;height: 25px;background: url(../images/help_ir.png) no-repeat 0 0;position: absolute;top: -2px;left: 0;}
.main_wrap .left_box .work_time ul li:nth-child(2)::after {background-position: -37px 0;}
.main_wrap .left_box .work_time ul li:nth-child(3)::after {background-position: -74px 0;}
.main_wrap .left_box .work_time ul li span {font-weight: 300;font-size: 0.875rem;}
.main_wrap .right_box {background: #f8f8f8;padding-top: 200px;}
.main_wrap .right_box .login_box {width: 66%; padding: 80px 75px 85px;background: #fff;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);margin: 0 auto;position: relative;}
.main_wrap .login_box .tit_box > div:not(.typo) {font-size: 1.25rem;text-align: center;}
.main_wrap .login_box .tit_box > div:first-child:not(.typo) {margin-bottom: 15px;}
.main_wrap .login_box .tit_box .typo {font-size: 2.188rem;text-align: center;}
.main_wrap .login_box .form_box {margin: 46px 0 30px;}
.main_wrap .form_box .input_wrap {margin-top: 5px;}
.main_wrap .form_box .input_wrap:first-child{margin-top: 0;}
.main_wrap .form_box .input_wrap input {width: 100%;padding: 10px 20px;border-radius: 0;}
.main_wrap .form_box .input_wrap input::placeholder {color: #949494;font-size: 0.938rem;}
.main_wrap .form_box .btn_wrap .bg_blue {width: 100%;border: none;border: 1px solid #1a72e7;font-size: 1.125rem;margin-top: 15px;padding: 12px;}
.main_wrap .login_box .sign_wrap {display: flex;justify-content: space-between;font-size: 0.875rem;}
.main_wrap .sign_wrap .find_box ul {display: flex;}
.main_wrap .sign_wrap .find_box ul li {margin-left: 21px;position: relative;}
.main_wrap .sign_wrap .find_box ul li::after {content: '';display: block;width: 1px;height: 80%;background-color: #000;position: absolute;top: 1px;right: -10px;}
.main_wrap .sign_wrap .find_box ul li:last-child::after {display: none;}
.main_wrap .login_box .contact_ico {width: 88px;height: 88px;border: 1px solid #ddd;border-radius: 50%;position: absolute;bottom: -40px;right: -40px;}
.main_wrap .right_box .aside {margin-top: 50px;color: #858585;text-align: center;font-size: 0.875rem;}
.main_wrap .right_box .aside .link_list {display: flex;justify-content: center;}
.main_wrap .right_box .aside .link_list li {margin-right: 21px;position: relative;}
.main_wrap .right_box .aside .link_list li:last-child {margin-right: 0;}
.main_wrap .right_box .aside .link_list li::after {content: '';display: block;width: 1px;height: 80%;background-color: #000;position: absolute;top: 1px;right: -10px;}
.main_wrap .right_box .aside .link_list li:last-child::after {display: none;}
.main_wrap .right_box .aside .copy {margin-top: 7px;}

/* 아이디·비밀번호 찾기 결과*/
.main_wrap .login_box .find_result {background: rgba(26, 114, 231, .05);padding: 20px 20px 20px 45px;color: #424242;margin-top:10px;position: relative;}
.main_wrap .login_box .find_result::after {content: '';display: block;width: 20px;height: 20px;border-radius: 50%;background: url(../images/help_ir.png) no-repeat -106px 0 #eb0b01;position: absolute;top: 19px;left: 20px;}
.main_wrap .login_box .find_result .blue {font-weight: normal;}
.main_wrap .form_box .btn_wrap a {display: block;text-align: center;border-radius: 4px;}
.main_wrap .form_box .pw_result {border-top: 1px dashed #ddd;border-bottom: 1px dashed #ddd;padding: 20px 0;text-align: center;}
.main_wrap .form_box .pw_result p.blue_l {font-size: 1.25rem;font-weight: 400;margin: 5px 0 20px;}
.main_wrap .form_box .pw_result .notice {background: rgba(26, 114, 231, .05);padding: 20px 20px 20px 45px;color: #424242;margin-top:10px;}
.main_wrap .form_box .pw_result .notice span.noti_ico {position: relative;}
.main_wrap .form_box .pw_result .notice span.noti_ico::after {content: '';display: block;width: 20px;height: 20px;border-radius: 50%;background: url(../images/help_ir.png) no-repeat -106px 0 #eb0b01;position: absolute;top:-1px;left: -25px;}

/* 서브페이지 기본 */
.inner {position: relative;width: 1400px;padding-right: 1.25rem;padding-left: 1.25rem;margin: 0 auto;box-sizing: border-box;}

/* 서브페이지 header */
.head_wrap {width: 100%;height: 120px;background: #1a72e7;}
.neo_logo {height: 120px;position: absolute;top: 0;left: 0;}
.img_logo a {height: 100%;display: inline-flex;align-items: center;}
.img_logo .neo_logo {height: 120px;display: inline-flex;align-items: center;}
.img_logo img {display: block;}


/* 회원가입 */


/* 에니메이션 */
.fade {animation: fade_in 0.5s ease-in forwards;}

@keyframes fadein {
    from {margin-top:-15px; opacity: 0; }
    to{ margin-top:0px; opacity: 1; }
}

@keyframes fade_in {
	from {display: none; opacity: 0; transform: translateY(70px)}
	to {display: block; opacity: 1; transform: translateY(0px)}
}
