@charset "utf-8";

#skip_navi {display: none;}

/* 로그인 */
.main_wrap {width: 100%;height: 100vh;display: flex;}
.main_wrap > div {width: 50%;}
.main_wrap .left_box {padding: 100px;background: url(../images/main_B_bg.png) no-repeat right 74%;}
.main_wrap .left_box .logo_area {width: 236px;height: 38px;margin-bottom: 150px;}
.main_wrap .left_box .logo_area img {animation: fadein 1s;}
.main_wrap .left_box .work_time {animation: fadein 1s;}
.main_wrap .left_box .work_time ul li {position: relative;padding-left: 35px; margin-bottom: 15px;font-size: 1.25rem;}
.main_wrap .left_box .work_time ul li:last-child {margin-bottom: 0;}
.main_wrap .left_box .work_time ul li::after {content: '';display: block;width: 25px;height: 25px;background: url(../images/help_ir.png) no-repeat 0 0;position: absolute;top: -2px;left: 0;}
.main_wrap .left_box .work_time ul li:nth-child(2)::after {background-position: -37px 0;}
.main_wrap .left_box .work_time ul li:nth-child(3)::after {background-position: -74px 0;}
.main_wrap .left_box .work_time ul li span {font-weight: 300;font-size: 0.875rem;}
.main_wrap .right_box {background: #f8f8f8;padding-top: 200px;}
.main_wrap .right_box .login_box {width: 66%; padding: 80px 75px 85px;background: #fff;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);margin: 0 auto;position: relative;}
.main_wrap .login_box .tit_box > div:not(.typo) {font-size: 1.25rem;text-align: center;}
.main_wrap .login_box .tit_box > div:first-child:not(.typo) {margin-bottom: 15px;}
.main_wrap .login_box .tit_box .typo {font-size: 2.188rem;text-align: center;}
.main_wrap .login_box .form_box {margin: 46px 0 30px;}
.main_wrap .form_box .input_wrap {margin-top: 5px;}
.main_wrap .form_box .input_wrap:first-child{margin-top: 0;}
.main_wrap .form_box .input_wrap input {width: 100%;padding: 10px 20px;border-radius: 0;}
.main_wrap .form_box .input_wrap input::placeholder {color: #949494;font-size: 0.938rem;}
.main_wrap .form_box .btn_wrap .bg_blue {width: 100%;border: none;border: 1px solid #1a72e7;font-size: 1.125rem;margin-top: 15px;padding: 12px;}
.main_wrap .login_box .sign_wrap {display: flex;justify-content: space-between;font-size: 0.875rem;}
.main_wrap .sign_wrap .find_box ul {display: flex;}
.main_wrap .sign_wrap .find_box ul li {margin-left: 21px;position: relative;}
.main_wrap .sign_wrap .find_box ul li::after {content: '';display: block;width: 1px;height: 80%;background-color: #000;position: absolute;top: 1px;right: -10px;}
.main_wrap .sign_wrap .find_box ul li:last-child::after {display: none;}
.main_wrap .login_box .contact_ico {width: 88px;height: 88px;border: 1px solid #ddd;border-radius: 50%;position: absolute;bottom: -40px;right: -40px;}
.main_wrap .right_box .aside {margin-top: 50px;color: #858585;text-align: center;font-size: 0.875rem;}
.main_wrap .right_box .aside .link_list {display: flex;justify-content: center;}
.main_wrap .right_box .aside .link_list li {margin-right: 21px;position: relative;}
.main_wrap .right_box .aside .link_list li:last-child {margin-right: 0;}
.main_wrap .right_box .aside .link_list li::after {content: '';display: block;width: 1px;height: 80%;background-color: #000;position: absolute;top: 1px;right: -10px;}
.main_wrap .right_box .aside .link_list li:last-child::after {display: none;}
.main_wrap .right_box .aside .copy {margin-top: 7px;}

/* 아이디·비밀번호 찾기 결과*/
.main_wrap .login_box .find_result {background: rgba(26, 114, 231, .05);padding: 20px 20px 20px 45px;color: #424242;margin-top:10px;position: relative;}
.main_wrap .login_box .find_result::after {content: '';display: block;width: 20px;height: 20px;border-radius: 50%;background: url(../images/help_ir.png) no-repeat -106px 0 #eb0b01;position: absolute;top: 19px;left: 20px;}
.main_wrap .login_box .find_result .blue {font-weight: normal;}
.main_wrap .form_box .btn_wrap a {display: block;text-align: center;border-radius: 4px;}
.main_wrap .form_box .pw_result {border-top: 1px dashed #ddd;border-bottom: 1px dashed #ddd;padding: 20px 0;text-align: center;}
.main_wrap .form_box .pw_result p.blue_l {font-size: 1.25rem;font-weight: 400;margin: 5px 0 20px;}
.main_wrap .form_box .pw_result .notice {background: rgba(26, 114, 231, .05);padding: 20px 20px 20px 45px;color: #424242;margin-top:10px;}
.main_wrap .form_box .pw_result .notice span.noti_ico {position: relative;}
.main_wrap .form_box .pw_result .notice span.noti_ico::after {content: '';display: block;width: 20px;height: 20px;border-radius: 50%;background: url(../images/help_ir.png) no-repeat -106px 0 #eb0b01;position: absolute;top:-1px;left: -25px;}

/* 서브페이지 기본 */
.inner {position: relative;width: 1400px;padding-right: 1.25rem;padding-left: 1.25rem;margin: 0 auto;box-sizing: border-box;}
#container {padding: 110px 0 50px;}

/* 서브페이지 header */
.head_wrap {width: 100%;height: 120px;background: #1a72e7;}
.img_logo {height: 120px;position: absolute;top: 0;left: 0;font-weight: 400;}
.img_logo a {height: 100%;display: inline-flex;align-items: center;}
.img_logo .neo_logo {height: 120px;display: inline-flex;align-items: center;}
.img_logo img {display: block;}
.text_logo {width: 100%;height: 120px;padding-top: 40px;}
.text_logo a {display: block; color: #fff;font-size: 2.188rem;text-align: center;}
.menu_r {position: absolute;top: 50%;transform: translateY(-50%);right: 0;}
.menu_r ul li:last-child {margin-right: 0;}
.menu_r .round {width: 40px;height: 40px;border: 1px solid #fff;border-radius: 50%;margin-right: 10px;overflow: hidden;}
.menu_r .round a {width: 100%; height: 100%; display: block;background: url(../images/user.png) no-repeat center;}
.menu_r .round a.sign_out {background-image: url(../images/logout.png);}
.menu_r .round a.sign_in {background-image: url(../images/login.png);}
.menu_r .round_box a {display: inline-flex;height: 40px;align-items: center;background: #FFC600;color: #0b3c7e;padding: 0 20px;border-radius: 20px;}
.menu_r .round_box a p {font-weight: 400;margin-right: 5px;}

/* 서브페이지 footer */
#footer {width: 100%;border-top: 5px solid #d7d7d7;}
.footer_wrap {padding: 35px 0;justify-content: space-between;}
.fbox_left .neo_info {font-size: 0.938rem;}
.fbox_left .address {margin-top: 25px;}
.fbox_left .address ul {display: flex;margin-top: 5px;}
.fbox_left .address ul li {margin-right: 21px;position: relative;}
.fbox_left .address ul li::after {content:'';display: block;width: 1px; height: 70%;position:absolute;top: 2px;right: -10px;background: #121212;}
.fbox_left .address ul li:last-child {margin-right: 0;}
.fbox_left .address ul li:last-child::after {display: none;}
.fbox_right .user_link {margin-right: 70px;}
.fbox_right ul li {margin-bottom: 5px;}
.fbox_right ul li:last-child {margin-bottom: 0;}
.fbox_right ul li .btn {font-size:0.938rem;padding: 0;font-weight: 300 !important;}
.fbox_right .f_tit {padding-top: 19px;margin-bottom: 25px;}
.fbox_right .contact .blue_l {font-size: 1.438rem;font-weight: 400;}
.fbox_right .contact .blue_l.mt16 {margin-bottom: 2px;}

/* 서브페이지 - 페이지 타이틀 */
.pg_title_area .tit_wrap {position: relative;padding-bottom: 15px;border-bottom: 1px solid #d7d7d7;}
.pg_title_area .tit_box .eng_t {font-size: 1.875rem;color: #727272;}
.pg_title_area .tit_box .eng_t .add_tDot {position: relative;}
.pg_title_area .tit_box .eng_t .add_tDot::after {content: '';display: block;width: 15px;height: 15px;background: #c3d8fe;border-radius: 50%;position: absolute;top: 0;right: -7px;z-index: -1;}
.pg_title_area .tit_box .tit {font-size: 2.5rem;}
.pg_title_area .tit_box .tit span {font-weight: 400;color: #0b3c7e;}

/* 회원가입 */
.pg_title_area .step_box {position: absolute;bottom: 22px;right: 0;}
.pg_title_area .step_box ul {display: flex;}
.pg_title_area .step_box ul li {margin-right: 20px;}
.pg_title_area .step_box ul li:last-child {margin-right: 0;}

/* 유지보수현황 리스트 */
.pg_title_area .state_list ul li a {display: block;position: relative;}
.pg_title_area .state_list ul li a::before {content: "";position: absolute;bottom: -1px;box-sizing: border-box;height: 1px;width: 0%;display: block;background: #043b73;transition: all .2s;}
.pg_title_area .state_list ul li a:hover::before {width: 100%;}
.pg_title_area .state_list ul li span {font-weight: 400;}
.pg_title_area .state_list ul li span.step_1 {color: #ff560f;}
.pg_title_area .state_list ul li span.step_2 {color: #009013;}
.pg_title_area .state_list ul li span.step_3 {color: #003875;}
.pg_title_area .state_list ul li span.step_4 {color: #FF0300;}

/* 회원가입 - 개인정보 동의*/
.content_join {padding:50px 0;}
.content_join .content_notice {font-size: 1.125rem;}
.content_join .content_box {margin-top: 25px;width: 100%;padding: 40px;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 28px rgba(0, 0, 0, 0.07);}
.content_join .content_box .sub_tit {padding-bottom: 10px;border-bottom: 1px solid #ddd;display: flex;align-items: center;}
.content_join .content_box .sub_tit p {font-size: 1.25rem;font-weight: 400;}
.content_join .content_box .sub_tit .policy_all {border: 1px solid #ddd;margin-left: 15px;font-size: 0.875rem;border-radius: 5px;background: #212121;color:#fff;}
.content_join .content_box .sub_tit .policy_all .pt1 {padding-top: 1px;}
.content_join .policy_box {padding:20px;}
.policy_box .policy_text h4 {font-size: 1.125rem;margin-top: 10px;}
.policy_box .policy_text p {font-size: 0.938rem;padding-left: 15px;margin-top: 5px;}
.policy_box .policy_text .bg_gray {margin-top: 5px;padding: 15px;font-size: 0.938rem;}
.policy_box .policy_text .bg_gray ul li {margin: 3px 0;position: relative;padding-left: 10px;}
.policy_box .policy_text .bg_gray ul li::after {content: '';display: block;width: 5px;height: 5px;border-radius: 50%;background: #929292;position: absolute;top: 6px;left: 0;}
.content_join .content_box .agree_wrap {margin-top: 20px;padding-top: 20px;border-top: 1px dashed #ddd; justify-content: center;}
.content_join .content_box .agree_wrap p {margin-right: 20px;padding-top: 1px}
.content_join .content_box .agree_wrap .radio_wrap span {margin-right: 5px;}
.content_join .content_box .agree_wrap .radio_wrap span:last-child {margin-right:0;}
.content_join .content_box .btn_wrap {text-align: right;}
.content_join .content_box .btn_wrap a {padding: 10px 15px;border-radius: 5px;}

/* 회원가입 - 정보입력*/
.content_join .content_box .sub_tit .ad_t {margin-left: 5px;font-size: 0.875rem;padding-top: 5px;font-weight: 300;display: flex;}
.content_join .list_wrap {padding: 20px;}
.content_join .info_list {flex-wrap: wrap;justify-content: space-between;}
.content_join .info_list li {margin-bottom: 10px;width: 48%;}
.content_join .info_list li .tit {line-height: 45px; width: 20%;}
.content_join .info_list li .form_input {width: 80%;}
.content_join .info_list li .form_input input{width: 100%;}
.content_join .info_list li.w100p {margin-right: 50%;}
.content_join .info_list li.w100p .form_input {width: calc(80% - 144px);}
.content_join .info_list li.w100p .check_btn {margin-left: 10px;}
.content_join .info_list li.w100p .check_btn .btn {border: 1px solid #0b3c7e;background: #0b3c7e;color: #fff;font-weight: 300;border-radius: 4px;}
.content_join .info_list li .num_input input {width: 30%;}
.content_join .info_list li .num_input select {width: 30%;}
.content_join .info_list li .num_input span {line-height: 45px;margin: 0 2.5%;}
.content_join .notice_box {padding: 20px;background-color: #fafafa;margin-bottom: 30px;}





/* 에니메이션 */
.fade {animation: fade_in 0.5s ease-in forwards;}

@keyframes fadein {
    from {margin-top:-15px; opacity: 0; }
    to{ margin-top:0px; opacity: 1; }
}

@keyframes fade_in {
	from {display: none; opacity: 0; transform: translateY(70px)}
	to {display: block; opacity: 1; transform: translateY(0px)}
}
