<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네오(NEO) 헬프데스크</title>

    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/board.css" />
    <link rel="stylesheet" type="text/css" href="css/rspnsv.css" />
    <link rel="stylesheet" type="text/css" href="css/font.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
</head>

<body>
    <div id="skip_navi">
        <a href="#container">본문 바로가기</a>
        <a href="#navi">주메뉴 바로가기</a>
    </div>

    <div class="wrapper"">
        <header id="herader">
            <div class="head_wrap">
                <div class="inner">
                    <h1 class="img_logo">
                        <a href="/">
                            <div class="neo_logo">
                                <img src="images/neo_logo_w.png" alt="NEO New E-information Organization" class="web_logo">
                                <img src="images/neoligo_mo.jpg" alt="N" class="mo_logo">
                            </div>
                        </a>
                    </h1>
                    <div class="text_logo">
                        <a href="#none">
                            <p class="typo">HELP DESK</p>
                        </a>
                    </div>
                    <div id="gnb" class="menu_r">
                        <h2 id="navi" class="sound_only">네오 헬프테스크 주메뉴</h2>
                        <ul class="dp_flex">
                            <li class="round_box mo_w30">
                                <a href="statistics.html" class="statistics">
                                    <p>유지보수 통계</p>
                                    <img src="/images/graph.png">
                                </a>
                            </li>
                            <!-- <li class="round_box mo_w30">
                                <a href="#none" class="register">
                                    <p>유지보수 등록하기</p>
                                    <img src="/images/write_ico.png">
                                </a>
                            </li> -->
                            <li class="round mo_w30">
                                <a href="mem_list.html" class="join">
                                    <span class="ir_pm">회원정보수정</span>
                                </a>
                            </li>
                            <li class="round mo_w30">
                                <a href="index.html" class="sign_out" title="로그아웃">
                                    <span class="ir_pm">로그아웃</span>
                                </a>
                            </li>
                            <!-- <li class="round">
                                <a href="#none" class="sign_in">
                                    <span class="ir_pm">로그인</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div id="container">
            <div class="sub_container">
                <div class="pg_title_area">
                    <div class="inner">
                        <div class="tit_wrap">
                            <div class="tit_box">
                                <div class="typo eng_t">
                                    <p><span class="add_tDot">Maintenance</span></p>
                                </div>
                                <div class="tit"><span>영산강홍수통제소</span> 유지보수 현황</div>
                            </div>
                            <div class="step_box state_list">
                                <ul>
                                    <li><a href="#none">전체 <span>1500</span></a></li>
                                    <li><a href="#">접수중 <span class="step_1">4</span></a></li>
                                    <li><a href="#">처리중 <span class="step_2">3</span></a></li>
                                    <li><a href="#">처리완료 <span class="step_3">1489</span></a></li>
                                    <li><a href="#">반영불가 <span class="step_4">4</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="bo_list_wrap">
                        <div class="search_wrap clearfix">
                            <div class="notice fl">
                                <p>업무의 신속성이 기하는 유지보수 업무는 담당자에게 직접 연락<span class="bk">부탁드립니다.</span></p>
                            </div>
                            <div class="search_form fr">
                                <form name="srhForm" method="post" action="/repair.do?b_code=<%=b_code%>" class="dp_flex">
                                    <select name="state" id="select" title="검색구분 선택" class="empty_bak">
                                        <option value="">전체검색</option>
                                        <%
                                            List cgList = (List)request.getAttribute("repairCategory");
                                            for(int i = 0 ; i < cgList.size() ; i++){
                                                RepairVO cgVO = (RepairVO)cgList.get(i);
                                        %>
                                        <option value="<%=cgVO.getCode_cd()%>"<% if(cgVO.getCode_cd().equals(keyState)){ %> selected="selected"<% } %>><%=cgVO.getCode_nm()%></option>
                                        <%
                                            }
                                        %>
                                        <option value="COMPANY">신청기관</option>
                                    </select>
                                    <div class="search_input_wrap">
                                        <input type="text" name="keyWord" id="qt_d" placeholder="검색어를 입력하세요" title="검색할 내용을 입력하세요" class="empty_bak">
                                        <button type="submit" class="btn_search empty_bak" value="검색">검색</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="bo_list">
                            <ul class="box_type col_1">
                                <%
                                    if(totalCount > 0){
                                    List repairList = (List)request.getAttribute("repairList");	// (b_code) 게시물 목록
                                    for(int i = 0 ; i < repairList.size() ; i++){
                                        RepairVO vo = (RepairVO)repairList.get(i);
                                        int list_no    = vo.getList_no();
                                        int ref_no     = vo.getRef_no();
                                        String m_id   = vo.getM_id() == null ? "" : vo.getM_id();
                                        String title   = vo.getTitle() == null ? "" : vo.getTitle();
                                        String regdate = vo.getRegdate() == null ? "" : vo.getRegdate();
                                        String company = vo.getCompany() == null ? "" : vo.getCompany();
                                        int hit        = vo.getHit();
                                        String state   = vo.getState() == null ? "A" : vo.getState();
                                        String code_nm = vo.getCode_nm() == null ? "" : vo.getCode_nm();
                                        String file_name = vo.getFile_name() == null ? "" : vo.getFile_name();
                                        String r_part = vo.getR_part() == null ? "" : vo.getR_part();
                                        String r_part_nm = "";
                                        String s_state = "";
                                        if(r_part.equals("D")){
                                            r_part_nm = "디자인";
                                        }else if(r_part.equals("P")){
                                            r_part_nm = "프로그램";
                                        }else if(r_part.equals("Y")){
                                            r_part_nm = "영업";
                                        }else{
                                            r_part_nm = "전체";
                                        }

                                        if(state.equals("1")){
                                            s_state = "접수중";
                                        }else if(state.equals("2")){
                                            s_state = "처리중";
                                        }else if(state.equals("3")){
                                            s_state = "처리완료";
                                        }else{
                                            s_state = "반영불가";
                                        }
                                %>
                                <li>
                                    <div class="list_num"><%=cList--%></div>
                                    <div class="cont">
                                        <div class="tit_box dp_flex f_h_v f_v_c">
                                            <div class="tit">
                                                <%-- if(list_no != ref_no){ %><img src="/source/repair/skin/<%=b_skin%>/ico_reply.gif" alt="진행상황" /><% } --%> 
                                                <a href="/repair.do?b_code=<%=b_code%>&amp;act=view&amp;list_no=<%=list_no%>&amp;nPage=<%=nPage%>"><%=title%></a>
                                                <%
                                                if(b_new.equals("Y") && state.equals("A")){
                                                    if(regdate.substring(0,10).equals(dateNowYear+"."+dateNowMonth+"."+dateNowDay)){
                                                        out.println("<span class='btn_new'>new</span>");
                                                    }
                                                }
                                                %>
                                            </div>
                                            <div class="process">
                                                <span class="step_<%=state%>"><%=s_state%></span>
                                            </div>
                                        </div>
                                        <div class="info_box">
                                            <ul class="ulfl">
                                                <li>신청기관 <span><%=company%></span></li>
                                                <li>요청구분 <span><%=r_part_nm%></span></li>
                                                <li>신청일 <span><%=regdate%></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <%
                                }
                                }else{
                                %>
                                <li>
                                    <p>해당 내용이 없습니다.</p>
                                </li>
                                <%
                                }
                                %>
                            </ul>
                        </div>
                        <div class="btn_box t_a_r">
                            <%@include file="repair_btn_write.jsp"%>
                        </div>
                        <div class="pagination">
                            <%@include file="page_skip.jsp"%>
                        </div>
                        <!-- <div class="pagination">
                            <ul>
                                <%
                                    if(nPage > 1){
                                        int nPage2 = nPage-10;
                                        if(nPage2 > 1){ nPage2 = nPage2;
                                        }else{ nPage2 = 1; }
                                %>
                                <li>
                                    <a href="/repair.do?b_code=<%=b_code%>&amp;nPage=1&amp;state=<%=keyState%>&amp;keyField=<%=keyField%>&amp;keyWord=<%=keyWord%>" class="pg_ico first" title="처음페이지"></a>
                                </li>
                                <li>
                                    <a href="/repair.do?b_code=<%=b_code%>&amp;nPage=<%=nPage2%>&amp;state=<%=keyState%>&amp;keyField=<%=keyField%>&amp;keyWord=<%=keyWord%>" class="pg_ico prev" title="이전페이지"></a>
                                </li>
                                <% } %>
                                <%
                                int bar = 0;
                                for(int i = startPage ; i <= endPage ; i++){
                                    bar++;
                                    if(i == nPage){
                                        %>  <li>
                                                <a href="#none" class="active"><%=i%></a>
                                            </li><%
                                        }else{
                                            %>  <li>
                                                    <a href="/repair.do?b_code=<%=b_code%>&amp;nPage=<%=i%>&amp;state=<%=keyState%>&amp;keyField=<%=keyField%>&amp;keyWord=<%=keyWord%>"><%=i%></a>
                                                </li><%
                                            }
                                        }
                                    %>
                                    <%
                                        if(nPage < totalPage){
                                            int nPage2 = nPage+10;
                                            if(nPage2 < totalPage){ nPage2 = nPage2;
                                            }else{ nPage2 = totalPage; }
                                    %>
                                <li>
                                    <a href="/repair.do?b_code=<%=b_code%>&amp;nPage=<%=nPage2%>&amp;state=<%=keyState%>&amp;keyField=<%=keyField%>&amp;keyWord=<%=keyWord%>" class="pg_ico next" title="다음페이지"></a>
                                </li>
                                <li>
                                    <a href="/repair.do?b_code=<%=b_code%>&amp;nPage=<%=totalPage%>&amp;state=<%=keyState%>&amp;keyField=<%=keyField%>&amp;keyWord=<%=keyWord%>" class="pg_ico last" title="마지막페이지"></a>
                                </li>
                                <% } %>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="inner">
                <div class="dp_flex footer_wrap">
                    <div class="fbox_left">
                        <div class="neo_info">
                            <div class="flogo">
                                <img src="images/flogo_c.png" alt="NEO New E-information Organization">
                            </div>
                            <div class="address">
                                <p>광주광역시 서구 하남대로 698(동천동 627번지) 일군타워 7층 701호 (우편번호 61903)</p>
                                <ul>
                                    <li><a href="#none">대표전화 062-522-0234</a></li>
                                    <li>팩스 062-522-0238</li>
                                    <li>사업자등록번호 243-07-00246</li>
                                </ul>
                                <ul class="mtb30">
                                    <li><a href="#none">개인정보처리방침</a></li>
                                    <li><a href="#none">이메일주소무단수집거부</a></li>
                                    <li><a href="#none">회사소개</a></li>
                                    <li><a href="#none">오시는길</a></li>
                                </ul>
                                <p class="blue_l">copyright @ NEO. all rights reserved.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fbox_right dp_flex">
                        <div class="user_link">
                            <p class="f_tit">For User</p>
                            <ul>
                                <li><a href="#" target="_blank" title="새창열기" class="btn">포트확인<span class="ico_blank_b"></span></a></li>
                                <li><a href="#" target="_blank" title="새창열기" class="btn">통합진단클리닉<span class="ico_blank_b"></span></a></li>
                                <li><a href="#" target="_blank" title="새창열기" class="btn">W3C<span class="ico_blank_b"></span></a></li>
                                <li><a href="#" target="_blank" title="새창열기" class="btn">표준약관양식<span class="ico_blank_b"></span></a></li>
                            </ul>
                        </div>
                        <div class="contact">
                            <p class="f_tit">Contact Us</p>
                            <p class="blue_l">shkim@neoitc.co.kr</p>
                            <p class="blue_l mt16">062-522-0234</p>
                            <p>평일 09:00 ~ 18:00 (주말·공휴일 휴무)</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>